%{erl_opts, [debug_info]}. %, fail_on_warning]}.
{erl_opts, [parse_transform, lager_transform]}.

{require_otp_vsn, "R15"}.

{deps_dir, ["deps"]}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
        {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", "master"}},
        {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "master"}}
]}.
